[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
decouple = "*"
django = "*"
djangorestframework = "*"
pillow = "*"
python-decouple = "*"
psycopg2 = "*"
drf-yasg = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
